<div class="bg-gray-200 min-h-screen">
  <div class="text-center bg-white p-4">
    <h1 class="text-2xl mb-1">Weekly Spending</h1>

    <div class="mb-3 text-gray-600">
      <%= @start_date.strftime('%d/%m/%y') %> to <%= @end_date.strftime('%d/%m/%y') %>
    </div>

    <div class="text-xl font-bold mb-3"><%= number_to_currency(@total_cost) %></div>

    <%= link_to 'New Expense', new_expense_path, class: 'btn btn-green mb-4' %>

    <div class="mb-2">
      <%= link_to "Prev Week", expenses_path(offset: @week_offset.to_i - 1), class: 'text-purple-600' %>
      |
      <%= link_to "Next Week", expenses_path(offset: @week_offset.to_i + 1), class: 'text-purple-600' %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 p-4">
    <% @expenses.each do |expense| %>
        <div class="bg-white px-4 py-3 rounded border-color-g">
          <div><%= expense.title %></div>
          <div><%= number_to_currency expense.cost %></div>
          <div><%= expense.date.strftime('%d/%m/%y') %></div>
          <div class="pt-2 text-right text-gray-600 text-sm">
            <%= link_to 'Edit', edit_expense_path(expense) %> | 
            <%= link_to 'Delete', expense_path(expense),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
  </div>

</div>
