<h1 class="text-2xl mb-3">New Expense</h1>

<% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@expense.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with scope: :expense, url: expenses_path, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'border' %>
  </div>

  <div class="mb-4">
    <%= form.label :cost %>
    <%= form.number_field :cost, class: 'border' %>
  </div>
 
  <div class="mb-6">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'border' %>
  </div>
 
  <div class="mb-4">
    <%= form.submit class: 'btn btn-green' %>
  </div>

  <%= link_to 'Back', expenses_path, class: 'underline'%>
<% end %>