<h1 class="text-2xl mb-3">New Expense</h1>
<%= form_with scope: :expense, url: expenses_path, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'border' %>
  </div>

  <div class="mb-4">
    <%= form.label :cost %><br>
    <%= form.number_field :cost, class: 'border' %>
  </div>
 
  <div class="mb-6">
    <%= form.label :date %><br>
    <%= form.date_field :date, class: 'border' %>
  </div>
 
  <div class="mb-4">
    <%= form.submit class: 'btn btn-green' %>
  </div>

  <%= link_to 'Back', expenses_path, class: 'underline'%>
<% end %>