<div class="mb-3 text-gray-600">
  <strong>Title:</strong>
  <%= @expense.title %>
</div>
 
<div class="mb-3 text-gray-600">
  <strong>Cost:</strong>
  <%= @expense.cost %>
</div>

<div class="mb-3 text-gray-600">
  <strong>Date:</strong>
  <%= @expense.date %>
</div>

<%= link_to 'Edit', edit_expense_path(@expense) %> | 
<%= link_to 'Back', expenses_path %>